*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root{
  height: 100%;
  width: 100%;
}

html{
  background-color: rgb(55, 55, 55);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{
  display: flex;
  gap: 1rem;
  padding-block: 1rem;  
  padding-inline: 3rem;
}

.note{
  background-color: rgb(91, 89, 89);
  padding: 1rem;
  border-radius: 1rem;
  max-width: 20rem;
  color: rgb(242, 230, 208)
}

.note-create-form{
  display:flex;
  gap: 1rem;
  padding-inline: 3rem;
  padding-block: 1rem;
}